---
import FullIcon from "../../../../Shared/components/icons/FullIcon.astro";
import LockIcon from "../../../../Shared/components/icons/LockIcon.astro";
import PaymentIcon from "../../../../Shared/components/icons/PaymentIcon.astro";
import TouchIcon from "../../../../Shared/components/icons/TouchIcon.astro";
import Heading from "../../../../Shared/components/ui/Heading.astro";
---

<section class="flex flex-col h-auto lg:flex-row items-stretch gap-8 md:gap-40">
  <div class="w-full lg:max-w-xl aspect-video lg:aspect-[4/5] overflow-hidden rounded-2xl">
    <img 
      src="/images/clients-home.png" 
      alt="clients ezpays example" 
      class="object-cover object-left h-full w-full lg:w-fit rounded-2xl" 
    />
  </div>
  <div class="flex flex-col justify-between gap-20 max-w-2xl h-auto">
    <div class="flex flex-col gap-2">
      <Heading>From the client's account to your account</Heading>
      <p>
        Your invoices paid from account to account Your client pays securely
        from your invoice Reconciliation of collections in your ERP
      </p>
      <div class="flex items-center gap-4">
        <TouchIcon />
        <LockIcon />
        <PaymentIcon />
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <Heading>Your company will only have to invoice</Heading>
      <p>
        When it depends on your client to pay the invoice, make it easy for
        him. Add the payment button when sending your invoice to pay at the moment.
        Or keep your client informed of when to pay.
      </p>
      <div>
        <FullIcon />
      </div>
    </div>
  </div>
</section>