---
import LinkButton from "../../../../Shared/components/ui/LinkButton.astro";
---

<section class="grid grid-cols-1 md:grid-cols-2 gap-4 h-full">
  <div class="flex flex-col gap-4 h-full">
    <h3 class="font-bold text-3xl">Why improve your collection process?</h3>
    <p>Avoid arguments with customers</p>
    <p>You have all collections updated</p>
    <p>You stop chasing customers</p>
    <p>Reduce costs by not doing tasks</p>
    <p>Collect earlier</p>
    <LinkButton href="https://platform.ezpays.io/register" className="w-fit">
      Make a demo
    </LinkButton>
  </div>
  <div class="flex flex-col h-full justify-end">
    <h3 class="font-bold text-3xl">
      Alifilados with the best partners in the market
    </h3>
    <div class="flex items-center">
      <img
        src="/images/netsuite-icon.png"
        alt="netsuite icon"
        class="max-w-16 -mr-6"
      />
      <img src="/images/sap-icon.png" alt="sap icon" class="max-w-16 -mr-6" />
      <img
        src="/images/oracle-icon.png"
        alt="oracle icon"
        class="max-w-16 -mr-6"
      />
      <img
        src="/images/odoo-icon.png"
        alt="odoo icon"
        class="max-w-16 -mr-6"
      /><img
        src="/images/visma-icon.png"
        alt="visma icon"
        class="max-w-16 -mr-6"
      /><img
        src="/images/xero-icon.png"
        alt="xero icon"
        class="max-w-16 -mr-6"
      /><img src="/images/365-icon.png" alt="sap icon" class="max-w-16 -mr-6" />
    </div>
  </div>
</section>