<section class="text-white flex flex-col gap-8 justify-center h-full m-auto w-full">
  <h2 class="font-bold text-3xl">Has your business been paid?</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div>
      <h3 class="text-5xl font-bold">Yes</h3>
      <p>Do you automatically reconcile your collections?</p>
      <p>Can the receipt be returned?</p>
      <p>Can the card payment be cancelled?</p>
      <p>What is the collection commission?</p>
      <p>Does it take time to have the money in the account?</p>
      <p>Do you only collect online with a card?</p>
    </div>
    <div>
      <h3 class="text-5xl font-bold">No</h3>
      <p>Do you have to notify your client?</p>
      <p>Has he asked you for the invoices?</p>
      <p>Will you have to claim the payment?</p>
      <p>How long does it take to collect your company?</p>
      <p>Do you call your client on the phone?</p>
      <p>Do you have to insist that he pay?</p>
    </div>
  </div>
  <div class="">
    <h3 class="font-bold text-4xl">but...</h3>
    <p>
      This technology has been created for companies with customers who pay
      mostly by transfer.
    </p>
    <p>
      That need to have their collection data updated instantly automatically.
    </p>
    <p>
      And that when a default occurs, the system contacts, helps the client,
      guides him and charges, without disturbing.
    </p>
  </div>
</section>