<footer class="flex justify-center">
    <div class="max-w-8xl w-full px-8 py-12 flex justify-end items-start min-h-40 md:min-h-96">

        <p class="font-black  text-xl md:text-4xl">
            <span class="cursor-pointer">ES</span>
            <span>/</span>
            <span class="cursor-pointer">EN</span>
        </p>
    </div>
</footer>