---
const { background, className } = Astro.props;
---

<div
  class=`max-w-8xl w-full px-6 xs:px-8 pt-12 md:pt-32 pb-12 ms:pb-16 m-auto 3xl:rounded-3xl ${className}`
  style={{
    background: background,
    backgroundPosition: "top",
    backgroundSize: "cover",
  }}
>
  <slot />
</div>
