---
import { cn } from "../utils/commonFuntions";

const { className, href } = Astro.props;
---

<a
  href={href}
  class={cn(
    "py-3 px-4 min-w-36 hover:brightness-125 transition-all font-semibold shadow-md rounded-xl text-white bg-black",
    className
  )}
>
  <slot />
</a>
