---
import Layout from "../layouts/Layout.astro";
import BoxContainer from "../modules/Shared/components/ui/BoxContainer.astro";
import LinkButton from "../modules/Shared/components/ui/LinkButton.astro";
---

<Layout>
  <BoxContainer background="/images/hero-bg.webp">
    <div class="flex flex-col justify-end h-full gap-4">
      <h1 class="text-black text-7xl font-bold">Tecnología que cobra</h1>
      <h2 class="text-white">Tu proceso de cobro en piloto automático</h2>
      <div>
        <LinkButton href="/"> Haz una demo </LinkButton>
      </div>
    </div>
  </BoxContainer>
  <BoxContainer>
    <h1 class="font-bold text-3xl">hola mundo</h1>
  </BoxContainer>
  <BoxContainer>
    <h1 class="font-bold text-3xl">hola mundo</h1>
  </BoxContainer>
  <BoxContainer>
    <h1 class="font-bold text-3xl">hola mundo</h1>
  </BoxContainer>
</Layout>
