---
import Heading from "../../../Shared/components/ui/Heading.astro";
---

<section class="grid grid-cols-1 grid-rows-1 md:grid-cols-2 gap-16">
  <div
    class="max-h-full w-auto aspect-video md:aspect-auto overflow-hidden rounded-md md:p-8"
  >
    <img
      src="/images/conector.png"
      alt="conector image"
      class="object-cover object-center h-full w-full md:w-fit rounded-md"
    />
  </div>
  <div class="flex flex-col gap-4">
    <Heading level="h2">
      Conecta y pon tus cobros en piloto automático
    </Heading>
    <div class="flex flex-col gap-2">
      <div class="flex flex-col gap-2">
        <h3 class="relative font-bold text-soft-gray text-xl md:text-4xl">
          <span
            class="text-black text-base absolute top-0 -left-3 md:-left-3 md:-left-2"
            >1</span
          >Cobrar
        </h3>
        <p>Haz que tu empresa cobre cuando corresponde de cuenta a cuenta</p>
        <hr />
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <div class="flex flex-col gap-2">
        <h3 class="relative font-bold text-soft-gray text-xl md:text-4xl">
          <span class="text-black text-base absolute top-0 -left-3 md:-left-2"
            >2</span
          >Impagos
        </h3>
        <p>
          Haz que tu empresa cobre los impagos, sin molestar a sus clientes.
        </p>
        <hr />
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <div class="flex flex-col gap-2">
        <h3 class="relative font-bold text-soft-gray text-xl md:text-4xl">
          <span class="text-black text-base absolute top-0 -left-3 md:-left-2"
            >3</span
          >Conciliar
        </h3>
        <p>Haz que tu empresa tenga los datos actualizados al instante.</p>
        <hr />
      </div>
    </div>
  </div>
</section>
