<section
  class="grid grid-cols-1 md:grid-cols-2 place-items-center gap-4 h-full"
>
  <div>
    <img
      src="/images/conector.png"
      alt="conector image"
      class="max-h-[70dvh] rounded-md aspect-video md:aspect-auto object-cover"
    />
  </div>
  <div class="flex flex-col gap-4 md:max-w-[80%]">
    <h2 class="font-bold text-3xl">
      Conecta y pon tus cobros en piloto automático
    </h2>
    <div class="flex flex-col gap-2">
      <div class="flex flex-col gap-2">
        <h3 class="relative font-bold text-soft-gray text-5xl">
          <span class="text-black text-base absolute top-0 -left-2">1</span
          >Cobrar
        </h3>
        <p>Haz que tu empresa cobre cuando corresponde de cuenta a cuenta</p>
        <hr />
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <div class="flex flex-col gap-2">
        <h3 class="relative font-bold text-soft-gray text-5xl">
          <span class="text-black text-base absolute top-0 -left-2">2</span
          >Impagos
        </h3>
        <p>
          Haz que tu empresa cobre los impagos, sin molestar a sus clientes.
        </p>
        <hr />
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <div class="flex flex-col gap-2">
        <h3 class="relative font-bold text-soft-gray text-5xl">
          <span class="text-black text-base absolute top-0 -left-2">3</span
          >Conciliar
        </h3>
        <p>Haz que tu empresa tenga los datos actualizados al instante.</p>
        <hr />
      </div>
    </div>
  </div>
</section>
