---
import LinkButton from "../../../Shared/components/ui/LinkButton.astro";
---

<section class="flex flex-col justify-end h-full gap-4">
  <h1 class="text-black text-4xl md:text-7xl font-bold">
    Tecnología que cobra
  </h1>
  <h2 class="text-white">Tu proceso de cobro en piloto automático</h2>
  <div>
    <LinkButton href="https://platform.ezpays.io/register">
      Haz una demo
    </LinkButton>
  </div>
</section>
