---
import Heading from "../../../Shared/components/ui/Heading.astro";
import LinkButton from "../../../Shared/components/ui/LinkButton.astro";

const {lang} = Astro.props


---

<section class="flex flex-col justify-end h-full gap-12 mb-12">
  <Heading level="h1" className="text-4xl md:text-[80px] text-white"
    >{lang.home.hero.title}</Heading
  >
  <div class="h-full">
    <LinkButton href={lang.home.hero.button.link}>
      {lang.home.hero.button.text}
    </LinkButton>
  </div>
</section>
