<section
  class="text-white flex flex-col gap-8 justify-center h-full m-auto w-full"
>
  <h2 class="font-bold text-3xl">Ha cobrado tu empresa?</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div>
      <h3 class="text-5xl font-bold">Si</h3>
      <p>Concilias automáticamente tus cobros?</p>
      <p>Te pueden devolver el recibo?</p>
      <p>Te pueden anular el pago por tarjeta?</p>
      <p>Cual es la comisión de cobro?</p>
      <p>Tardasen tener el dinero en cuenta?</p>
      <p>Solo cobras online con tarjeta?</p>
    </div>
    <div>
      <h3 class="text-5xl font-bold">No</h3>
      <p>Te toca avisar a tu cliente?</p>
      <p>Te ha pedido las facturas?</p>
      <p>Tendrás que reclamar el pago?</p>
      <p>Cuánto tarda en cobrar tu empresa?</p>
      <p>Llamas por teléfono a tu cliente?</p>
      <p>Te toca insistir para que pague?</p>
    </div>
  </div>
  <div class="">
    <h3 class="font-bold text-4xl">mas...</h3>
    <p>
      Esta tecnología ha sido creada para empresas con clientes que pagan
      mayormente por transferencia.
    </p>
    <p>
      Que necesitan tener sus datos de cobro actualizados al instante de forma
      automática.
    </p>
    <p>
      Y que cuando se presenta un impago, el sistema contacte, ayude al cliente,
      lo guíe y cobre, sin molestar.
    </p>
  </div>
</section>
